:root {
    --branco-principal: #FFFFFF;
    --cinza-secuntario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter'; 
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("/img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    padding: 1rem;
    border-radius: 2px;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    color: var(--branco-principal);
}

.container__aviso {
    color: var(--cinza-secuntario);
    font-size: 12px;
    font-weight: 400;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__caixa {
    margin: 0 6em;    
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 6em;
}

.descricao__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0,1em;
}

.descricao__texto {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza-secuntario);
}

.secundario__botao {
    display: inline-block;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos__titulo {
    font-family: var(--fonte-principal);
    font-size: 48px;
    font-weight: 700;
}

.lista__item {
    font-family: var(--fonte-principal);
    font-size: 32px;
    font-weight: 700;
}

.lista__rodape {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
    gap: 1em;
}

.rodape {
    text-align: center;
}

.lista__item__rodape {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 16px;
    font-weight: 400;
    margin-left: 1em;
}

.rodape__logo {
    padding: 1em;
}

.lista__item__rodape:hover {
    background-color: var(--botao-azul);
    color: var(--cor-de-fundo);
}